Repository Junaifu/CAU_OpenSW_Snake, pull requests merged in 2022-05, with the labels that each got.

#17 feat: apple management
  snake/gameMap.py
Labels: Game

#16 Feature/ranking screen
  snake/app.py
  snake/scenes/menuScene.py
  snake/scenes/rankingScene.py
  snake/utils/text.py
Labels: enhancement, Ranking

#21 In game menu
  snake/app.py
  snake/gameMap.py
  snake/scenes/gameScene.py
  snake/scenes/inGameMenuScene.py
  snake/scenes/sceneBase.py
Labels: Pause Menu

#18 Backup file
  .gitignore
  snake/gameMap.py
  snake/scenes/gameScene.py
  snake/scenes/inGameMenuScene.py
  snake/scenes/sceneBase.py
Labels: Save

#22 Update README.md
  README.md
Labels: documentation

#25 Feature/load screen
  snake/app.py
  snake/gameMap.py
  snake/scenes/gameScene.py
  snake/scenes/menuScene.py
  snake/scenes/rankingScene.py
  snake/scenes/saveScene.py
  snake/scenes/sceneBase.py
  snake/utils/button.py
Labels: enhancement, Save

#26 Create LICENSE
  LICENSE
Labels: enhancement, Save
